.About {
    display: grid;
}

.About .profile-picture {
    background-color: grey;
}

.About .profile-picture img {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.About .about-text {
    background-color: white;
}

.About .contact-form {
    background-color: green;
}