.Home {
    display: grid;
    grid-template-columns: auto auto;
}

.Home .featured-project {
    background-color: red;
}

.Home .featured-paper {
    background-color: blue;
}

.Home .recent-blogs {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 3;
}