.Home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 4rem;
    margin: 4rem;
}

.Home .Tile {
    border-radius: 1rem;
    height: 60%;
}

.Home a {
    text-decoration: none;
}